<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-6">
    <!--formGroup que contiene los elementos del html, los cambios o las operaciones se ejecutan con metodo onSubmit -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca sus datos</h4>

          <!--inputs para escribir los datos de autentificacion Correo y Contraseña-->
      <label>Correo Electronico</label>
      <input type="mail" 
              class="form-control" 
              id="inputEmail" 
              autofocus
              formControlName="email">
        
      <label>Contraseña</label>
      <input type="password" 
              class="form-control"
              id="inputPassword"
              formControlName="password">
        
      <hr>
    <!--Boton para iniciar sesion en caso de que los datos sean correctos--> 

      <button type="submit"
              class="btn btn-primary"
              [disabled]="!loginForm.valid">Inicie Sesion</button>
    </form>
      <!--Si los datos estan mal, despues de un tiempo mandara un mensaje de que algunos de los datos son incorrectos-->

    <p class="alert alert-danger" 
      *ngIf="mensaje">
      El usuario o Contraseña no es correcto.

    </p>
    <!--En caso de no estar registrado, manda un link que nos dirige a la pantalla de registro de usuario-->

    <p>Si aun no estas registrado, entra <a routerLink="/registro"> aqui</a></p>
  </div>
  <div class="col col-md"></div>
</div>