<div class="row">
    <div class="col col-md"></div>
    <div class="col-10 col-md-8"> 
      <h2>Editar Alimento</h2>
      <a class="btn btn-warning float-md-right" routerLink="/alimentos">Regresar</a>
      <form [formGroup]="alimentoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="alimento">Alimento</label>
          <input type="text"
                  class="form-control"
                  id="alimento"
                  formControlName="alimento"
                  [(ngModel)]="alimento.alimento"
                  disabled>
          <p class="alert alert-danger" 
              *ngIf="alimentoForm.controls.alimento.invalid &&
                      alimentoForm.controls.alimento.touched">
            El campo Alimento es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="medida">Medida</label>
          <input type="text"
                  class="form-control"
                  id="medida"
                  formControlName="medida"
                  [(ngModel)]="alimento.medida">
          <p class="alert alert-danger" 
              *ngIf="alimentoForm.controls.medida.invalid &&
                      alimentoForm.controls.medida.touched">
            El campo Medida es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="pesobruto">Peso bruto</label>
          <input type="text"
                  class="form-control"
                  id="pesobruto"
                  formControlName="pesobruto"
                  [(ngModel)]="alimento.pesobruto">
          <p class="alert alert-danger" 
              *ngIf="alimentoForm.controls.pesobruto.invalid &&
                      alimentoForm.controls.pesobruto.touched">
            El campo Peso bruto es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select class="form-control"
                    id="tipo"
                    formControlName="tipo">
                    <option value="">Seleccione...</option>
                    <option value="Frutas">Frutas</option>
                    <option value="Verduras">Verduras</option>
                    <option value="Cereales-sin grasa">Cereales-sin grasa</option>
                    <option value="Cereales-con grasa">Cereales-con grasa</option>
                    <option value="Leguminosas">Leguminosas</option>
                    <option value="A. Origen animal-BG">A. Origen animal-MBG</option>
                    <option value="A.Origen animal-BG">A.Origen animal-BG</option>
                    <option value="A. Origen animal-MG">A. Origen animal-MG</option>
                    <option value="Leche-Descremada">Leche-Descremada</option>
                    <option value="Leche-Semidescremada">Leche-Semidescremada</option>
                    <option value="Leche-Entera">Leche-Entera</option>
                    <option value="Leche-Azucar">Leche-Azucar</option>
                    <option value="Aceites y Grasas-con proteinas">Aceytes y grasas-con proteinas</option>
                    <option value="Aceites y Grasas-sin proteinas">Aceites y Grasas-sin proteinas</option>      
                    <option value="Azucar-sin grasa">Azucar-sin grasa</option>
                    <option value="Azucar-con grasa">Azucar-con grasa</option>
                    <option value="Bebidas alcoholicas">Bebidas alcoholicas</option>
          </select>
          <p class="alert alert-danger" 
              *ngIf="alimentoForm.controls.tipo.invalid &&
                      alimentoForm.controls.tipo.touched">
            El campo Tipo es obligatorio.
          </p>
        </div>
        <button type="submit"
                class="btn btn-primary">
                Guardar Cambios
        </button>
        <a class="btn btn-danger" routerLink="/alimentos">Cancelar</a>
      </form>
    </div>
    <div class="col col-md"></div>
  </div>
  