<div class="row">
  <div class="co col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Añadir nuevo Seguimiento</h2>
    <a class="btn btn-warning float-md-right" routerLink="/seguimientos">Regresar</a>
    <form [formGroup]="seguimientoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text"
                class="form-control"
                id="nombre"
                formControlName="nombre">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.nombre.invalid &&
                  seguimientoForm.controls.nombre.touched">
          El campo Nombre es obligatorio.          
        </p>
      </div>  
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date"
                class="form-control"
                id="fecha"
                formControlName="fecha">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.fecha.invalid &&
                  seguimientoForm.controls.fecha.touched">
          El campo Fecha es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="cintura">Cintura</label>
        <input type="number"
                class="form-control"
                id="cintura"
                formControlName="cintura">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.cintura.invalid &&
                  seguimientoForm.controls.cintura.touched">
          El campo Cintura es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="number"
                class="form-control"
                id="peso"
                formControlName="peso">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.peso.invalid &&
                  seguimientoForm.controls.peso.touched">
          El campo Peso es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="gramos">Gramos</label>
        <input type="number"
                class="form-control"
                id="gramos"
                formControlName="gramos">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.gramos.invalid &&
                  seguimientoForm.controls.gramos.touched">
          El campo Gramos es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="imc">IMC</label>
        <input type="number"
                class="form-control"
                id="imc"
                formControlName="imc">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.imc.invalid &&
                  seguimientoForm.controls.imc.touched">
          El campo IMC es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="kilomasa">Kilomasa</label>
        <input type="number"
                class="form-control"
                id="kilomasa"
                formControlName="kilomasa">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.kilomasa.invalid &&
                  seguimientoForm.controls.kilomasa.touched">
          El campo Kilomasa es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="kcal">kcal</label>
        <input type="number"
                class="form-control"
                id="kcal"
                formControlName="kcal">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.kcal.invalid &&
                  seguimientoForm.controls.kcal.touched">
          El campo Kcal es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="dtx">Dtx</label>
        <input type="number"
                class="form-control"
                id="dtx"
                formControlName="dtx">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.dtx.invalid &&
                  seguimientoForm.controls.dtx.touched">
          El campo Dtx es obligatorio.          
        </p>
      </div>
      <div class="form-group">
        <label for="part">P art</label>
        <input type="number"
                class="form-control"
                id="part"
                formControlName="part">
        <p class="alert alert-danger"
            *ngIf="seguimientoForm.controls.part.invalid &&
                  seguimientoForm.controls.part.touched">
          El campo P art es obligatorio.          
        </p>
      </div>
      <button type="submit"
                class="btn btn-primary"
                [disabled]="!seguimientoForm.valid">
        Añadir Seguimiento        
      </button>
      <a class="btn btn-danger" routerLink="/seguimientos">Cancelar</a>
      <p class="alert alert-danger"
          *ngIf="!seguimientoForm.valid">
        Favor de llenar todos los campos obligatorios.  
      </p>
    </form>
  </div>
  <div class="co col-md"></div>
</div>