<h3>Listado de seguimientos</h3>
<!--Boton que permite regresar de addseguimientos a seguimientos-->
<a class="btn btn-primary float-md-right" routerLink="/addseguimientos">Añadir nuevo seguimiento <i class="fas fa-history"></i></a>
<p class="alert alert-info">Seleccione una fecha</p>
<!--Nos permite seleccionar una fecha para realizar la busqueda-->
<input type="date" class="form-control" placeholder="Teclee tipo de usuario...."
      [formControl]="campoBusqueda">
  <!--Se muestra al momento de cargar la informacion-->
<div *ngIf="cargando" class="text-center" style="padding-top: 60px">
  <img src="../../../assets/cargando.gif" alt="cargando">
</div>
<!--Cuando la busqueda sea realizado y encontrado coincidencias, se muestra en pantalla-->
<div *ngIf="resultados">
<table class="table table-bordered table-hover table-sm" style="margin-top: 60px">
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Cintura</th>
      <th>Peso</th>
      <th>%Gr / kg gr</th>
      <th>IMC</th>
      <th>C%Ms / Kg Ms</th>
      <th>Kcal</th>
      <th>Dtx</th>
      <th>P. Art.</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody *ngFor="let seguimiento of seguimientos">
    <td>{{ seguimiento.nombre}}</td>
    <td>{{ seguimiento.fecha }}</td>
    <td>{{ seguimiento.cintura }}</td>
    <td>{{ seguimiento.peso }}</td>
    <td>{{ seguimiento.gramos }}</td>
    <td>{{ seguimiento.imc }}</td>
    <td>{{ seguimiento.kilomasa }}</td>
    <td>{{ seguimiento.kcal }}</td>
    <td>{{ seguimiento.dtx }}</td>
    <td>{{ seguimiento.part }}</td>
      
    <td>
      <!--permite editar a;gun elemento de la lista mediante si id-->

      <button type="button" class="btn btn-success"
      routerLink="/editseguimientos/{{ seguimiento.id$ }}"
      >
        <i class="fas fa-pencil-alt"></i>
      </button>
    </td>
    <td>   
         <!--permite borrar un elemento de la lista mediante id-->
      <button type="button" class="btn btn-danger"
      (click)="eliminarSeguimiento(seguimiento.id$)"
      >
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
    
  </tbody>
</table>
</div>

<div *ngIf="noresultados">
  <p class="alert alert-danger">no existen coincidencias</p>
</div>